body {
	position: relative;
	margin: 0;
	background-color: rgb(230, 230, 230);
}

.container {
	position: absolute;
	border: 1px solid black;
	width: 1000px;
	height: 500px;
	left: 50%;
	transform: translate(-50%, 0);
}

div {
	position: absolute;
}

button {
	font-size: 17px;
	width: 130px;
	margin-left: 5px;
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
}

#timer {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 40px;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
}
