body {
	position: relative;
	margin: 0;
	background-color: rgb(230, 230, 230);
	font-family: 'Roboto', sans-serif;
}

.container {
	position: absolute;
	width: 1000px;
	height: 600px;
	left: 50%;
	transform: translate(-50%, 0);
}

#menu {
	position: absolute;
	width: 1000px;
	height: 38px;
	background-color: rgb(210, 210, 210);
}

div {
	position: absolute;
}

button {
	font-size: 17px;
	width: 130px;
	margin-left: 5px;
	margin-top: 5px;
	font-family: 'Roboto', sans-serif;
}

#timer {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 40px;
	font-size: 30px;
}

#displayChart {
	top: 40px;
	width: 500px;
	height: 560px;
	color: white;
}

#displayCode {
	top: 40px;
	right: 0;
	width: 500px;
	height: 560px;
}

.bars {
	position: absolute;
	background-color: #00d6f2;
	text-align: center;
	bottom: 0;
}

#pseudoCode,
#actualCode {
	position: absolute;
	background-color: #1e1e1e;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 440px;
	height: 200px;
	top: 0;
	font-family: 'Roboto Mono', monospace;
}

#pseudoCode p {
	color: #6a9955;
}

#actualCode {
	top: 220px;
	color: #d4d4d4;
}

#nextStepBtn {
	position: absolute;
	margin-left: 20px;
	top: 460px;
}

h1 {
	color: #d4d4d4;
}
